################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagicVilla/.vs/MagicVilla
/MagicVilla/MagicVilla_VillaAPI/obj/Debug/net8.0
